<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Security Vulnerabilities Dashboard</title>
    <link rel="stylesheet" href="/static/styles/dashboard.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <style>
      body.red-bg {
        background-image: url("/static/warning.png");
      }
      body.green-bg {
        background-color: green;
      }
    </style>
  </head>
  <body class="{{ 'red-bg' if total_vulnerabilities >5  else 'green-bg' }}">
    <div class="container">
      <h1 class="heading">Security Vulnerabilities Dashboard</h1>
      <h2>
        File Name: {{filename}} &nbsp; &nbsp; Security Score:
        {{vulnerabilities.security_score}}
      </h2>
      <button
        class="download_pdf"
        style="background-color: {{ 'red' if total_vulnerabilities > 5 else 'light-green'}}"
        onclick="window.location.href='/download_pdf';"
      >
        Download PDF Report
      </button>
      <div class="scan-info">
        <!-- Insecure Data Storage -->
        <div class="insecure-data">
          <h2>Insecure Data Storage</h2>
          {% if vulnerabilities.insecure_data_storage %}
          <ul class="list-group">
            {% for item in vulnerabilities.insecure_data_storage %}
            <li class="list-group-item">
              <strong>{{ item.title }}</strong><br />
              <span>Severity: {{ item.severity }}</span><br />
              <p>{{ item.description }}</p>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>No issues found.</p>
          {% endif %}
        </div>

        <!-- Network Vulnerabilities -->
        <div class="network-issues">
          <h2>Network Vulnerabilities</h2>
          {% if vulnerabilities.network_issues %}
          <ul class="list-group">
            {% for item in vulnerabilities.network_issues %}
            <li class="list-group-item">
              <strong>{{ item.title }}</strong><br />
              <span>Severity: {{ item.severity }}</span><br />
              <p>{{ item.description }}</p>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>No issues found.</p>
          {% endif %}
        </div>

        <!-- Weak Permissions -->
        <div class="weak-permissions">
          <h2>Weak Permissions</h2>
          {% if vulnerabilities.weak_permissions %}
          <ul class="list-group">
            {% for item in vulnerabilities.weak_permissions %}
            <li class="list-group-item">
              <strong>{{ item.title }}</strong><br />
              <span>Severity: {{ item.severity }}</span><br />
              <p>{{ item.description }}</p>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p>No issues found.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
