body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  background-color: #b61a1ae0;
  margin: 0;
  padding: 0;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 800px; /* Reduced width for better vertical alignment */
  margin: 0 auto;
  padding: 20px;
}

.heading {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.download_pdf {
  margin: auto;
  background-color: #4caf50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Top & bottom padding of 15px, left & right padding of 32px */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline from text */
  display: inline-block; /* Allow the button to sit inline with other content */
  font-size: 16px; /* Set font size */
  border-radius: 8px; /* Round corners */
  cursor: pointer; /* Cursor pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color on hover */
}

.download_pdf:hover {
  background-color: #45a049; /* Darker green on hover */
}

.download_pdf:active {
  background-color: #3e8e41; /* Even darker green when clicked */
}

/* Card Layout */
.scan-info {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 20px; /* Space between cards */
}

/* Card Styling */
.insecure-data,
.network-issues,
.weak-permissions {
  background-color: rgba(0, 0, 0, 0.229);
  color: white;
  backdrop-filter: blur(5px);
  width: 100%; /* Full width of the container */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.insecure-data:hover,
.network-issues:hover,
.weak-permissions:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Card Header */
.insecure-data h2,
.network-issues h2,
.weak-permissions h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

/* Vulnerabilities List */
.list-group {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-group-item {
  margin-bottom: 10px;
  padding: 10px;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  color: white;
  font-size: larger;
}

.list-group-item strong {
  font-size: 1.1rem;
  color: #fff;
}

.list-group-item span {
  display: block;
  color: #ff4500;
  font-weight: bold;
}

.list-group-item p {
  margin-top: 5px;
  color: #555;
}

/* Empty State */
.scan-info p {
  color: #777;
  font-style: italic;
  text-align: center;
}
